* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
<<<<<<< HEAD:css/main.css
    --move-y:0;
    --move-x:0;
    --transition:0;
=======
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
    --move-y: 0;
    --move-x: 0;
>>>>>>> backend:frontend/css/main.css
}

body {
    background-color: #ffffff;
    color: #fff;
}

h5 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
    transform: translateZ(80px) scale(.88);
}

.layer-3 {
    transform: translateZ(180px) scale(.8);
}

.layer-4 {
    transform: translateZ(190px) scale(.9);
}

.layer-5 {
    transform: translateZ(300px) scale(.9);
}

.layer-6 {
    transform: translateZ(380px);
}

.hero-content {
    font-size: calc(var(--index) * 3.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -.15);
    line-height: 1.35em;
    margin-top: calc(var(--index) * 5.5);
}

.hero-content-menu {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Задайте цвет фона по вашему выбору */
    padding: 5px; /* Добавьте отступы по вашему выбору */
    z-index: 10;
    font-size: calc(var(--index) * 3.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -.15);
    line-height: 0.5em;
    margin-top: calc(var(--index) * 0);
}

.hero-content span {
    display: block;
}

.hero-content__p {
    text-transform: none;
    font-family: merriweather-italic-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * .73);
    line-height: 3;
}

.button-start {
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);
}

.button-Menu {
    font-family: Cambria;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #000;
    border-radius: 10em;
    border: rgb(16, 7, 7) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 0);
}

.layer-4, .layer-5, .layer-6 {
    pointer-events: none;
}

.myMainText {
    font-family: "Arial Black";
    color: #000000;
    -webkit-text-stroke: 3px #ffffff;
}


.container-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    font-family: "Calibri Light";
    color: black;
    font-size: 30px;
    width: 50%;
    margin-bottom: 200px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
}
.text-h1{
    color: black;
    font-size: 60px;
    width: 50%;
    padding: 50px;
    text-align: justify;
}
.rounded-image {
    border-radius: 5%;
    overflow: hidden;
    width: 700px; /* Задайте необходимую ширину */
    height: 600px;
    margin-left: 60px;
    margin-right: 60px;
}
.rounded-image-2 {
    border-radius: 5%;
    overflow: hidden;
    width: 900px; /* Задайте необходимую ширину */
    height: 800px;
    margin-left: 400px;
    margin-right: 400px;
}
.rounded-image img{
    width: 100%;
    height: auto;
    display: block;
}
.rounded-image-2 img{
    width: 100%;
    height: auto;
    display: block;
}
.text-h2{
    font-family: "Calibri Light";
    color: black;
    font-size: 30px;
    width: 100%;
    padding: 5px;
    margin-bottom: 50px;
    text-align: center;
}


.cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    margin: 0 auto;
}
.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}
.card:hover {
    box-shadow: 4px 8px 16px rgb(16, 7, 7);
}
.card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}
.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
}
.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
    text-align: center;
    font-family: Arial;
}
.card__prices {
    display: block;
    margin-bottom: 10px;
}
.card__price::after {
    content: "руб.";
    margin-left: 4px;
    position: relative;
}
.card__price--common {
    font-weight: 400;
    font-size: 20px;
    color: #0a0a0a;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #414141;
}
.card__title:hover {
    color: #ff6633;
}
.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
}
.card__add:hover {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 998;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#FFA07A, #FF6347);
    background: -webkit-linear-gradient(#FFA07A, #FF6347);
    background: -o-linear-gradient(#FFA07A, #FF6347);
}
.close {
    z-index: 99999;
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 10px; /* Изменено на положительное значение */
    right: 10px; /* Изменено на положительное значение */
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.wrapper {
    height: 100vh;
}
.arrow {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    animation: arrowDown 2s infinite;
}
.arrow.two {
    opacity: 0;
    animation-delay: 1s;
}
@keyframes arrowDown {
    0% {
        bottom: 30px;
        opacity: 1;
    }
    100% {
        bottom: 0px;
        opacity: 0;
    }
}
.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}
.pizzaDetails {
    display: flex;
    align-items: center;
}
.pizzaInfo {
    padding: 20px;
}
.img-info {
    max-width: 100%;
    height: auto;
}
.sizeSelector {
    display: flex;
    background-color: #F79256; /* Dark orange color, you can change it */
    border-radius: 25px;
    overflow: hidden;
}
.sizeOption {
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.sizeHighlight {
    width: 33.33%;
    height: 100%;
    background-color: #FF5733; /* Light orange color, you can change it */
    border-radius: 25px;
    transition: transform 0.3s;
}
.sizeOption.selected {
    background-color: #FF5733;
    color: white;
}

.modal-login {
    display: none;
    position: fixed;
    z-index: 9998;
    left: 50%;/* Размещаем левую часть модального окна посередине экрана */
    top: 50%;/* Размещаем верхнюю часть модального окна посередине экрана */
    transform: translate(-50%, -50%); /* Центрируем модальное окно точно посередине экрана */
    overflow: auto;
}
.modal-content-login {
    background-color: transparent;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid transparent;
    width: 80%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.body-login {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}
.h1-login {
    color: black;
    font-weight: bold;
    margin: 0;
}
.p-login {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
.span-login {
    color: black;
    font-size: 12px;
}
.a-login {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.button-login {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.button-login:active {
    transform: scale(0.95);
}
.button-login:focus {
    outline: none;
}
.button-login.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
.form-login {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.input-login {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}
.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay {
    transform: translateX(50%);
}
.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left {
    transform: translateX(-20%);
}
.container.right-panel-active .overlay-left {
    transform: translateX(0);
}
.overlay-right {
    right: 0;
    transform: translateX(0);
}
.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
.social-container {
    margin: 20px 0;
}
.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


.button-menu-menu{
    font-family: Cambria;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: calc(var(--index) * -0);
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #FF4B2B;
    border-radius: 7em;
    border: #FF4B2B 2px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 0);
}


